<div class="mt-5">
  <div class="row"><h1>Create new Book</h1></div>
  <form (ngSubmit)="onSubmit()" [formGroup]="newBookForm">
    <table class="table table-bordered">
      <tr>
        <td>Name</td>
        <td><input class="form-control" type="text" formControlName="title">
          <div *ngIf="newBookForm.get('title').hasError('required') && newBookForm.touched" class="text-danger">
            field require
          </div>
        </td>
      </tr>
      <tr>
        <td>Author</td>
        <td><input class="form-control" type="text" formControlName="author">
          <div *ngIf="newBookForm.get('author').hasError('required') && newBookForm.touched" class="text-danger">
            field require
          </div>
        </td>
      </tr>
      <tr>
        <td>Description</td>
        <td><textarea class="form-control" formControlName="description" rows="8"></textarea>
          <div *ngIf="newBookForm.get('description').hasError('required') && newBookForm.touched" class="text-danger">
            field require
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-primary mr-2" type="submit" >Add</button>
          <button class="btn btn-secondary" routerLink="/books">Cancel</button>
        </td>
      </tr>
    </table>
  </form>

</div>
